<mat-card class="card-section">
    <mat-card-title>Welcome to Ploughshare Online Portal</mat-card-title>
    <mat-card-subtitle>
        <div>
        <p>Ploughshare is the technology transfer partner for UK Government Intellectual Property. 
        Ploughshare work with scientists, innovators, investors, entrepreneurs, 
        and public sector organisations to bring about commercialisation of innovations developed at organisations such as 
        DSTL, MoD, and Atomic Weapons Establishment with the aim to deliver real prosperity to the economy, society, people’s 
        lives, and the environment.</p>
    </div>
    </mat-card-subtitle>
</mat-card>